body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
background-color: darkkhaki;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(251, 249, 145);
}


fieldset {
    border: 2px solid #6C63FF;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
    color: #6C63FF;
}

label {
    display: block;
    margin-bottom: 5px;
   
}


.button-container {
    text-align: center;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #ecebfa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #5A55D8;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
        max-width: 100%;
    }

    input[type="submit"] {
        width: 100%;
    }
}
