* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f0f0f0;
    overflow: hidden;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: #FFA500;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative; 
}

.main-content {
    background-color: #d3d3d3;
    height: 60%;
    width: 65%; /* Reduce el ancho si se superpone */
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -12.5%;
    background-image: url("https://res.cloudinary.com/dq8kckqtc/image/upload/v1730825552/Leonardo_Phoenix_A_warm_and_inviting_image_of_a_honey_jar_perf_0_v6vgtz.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}













.fa-2x {
    font-size: 2em;
}
.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu:hover, nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #FFA500;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    transition: width 0.05s linear;
    z-index: 1000;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    color: #999;
    font-family: arial;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.1s linear;
}

.main-menu .nav-icon {
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

a:hover, a:focus {
    text-decoration: none;
}

.main-menu li:hover>a, .main-menu li.active>a {
    color: #fff;
    background-color: #000000;
}
